body {
    color: #394a55;
    margin: 0;
  
}

h1 {
    font-size: x-large;
    text-align: center;
}

p.intro {
    text-align: justify;
    font-size: large;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 30px;
}

p.list {
    text-align: left;
    font-size: large;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 30px;
}

/* Position the navbar container inside the image */
.container {
    position: absolute;
    width: 100%;
}
  
  /* The navbar */
.topnav {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    padding: 0;
    width: 100%; 
    flex-wrap: wrap;
}
  
  /* Navbar links */
.topnav a {
    float: left;
    display: inline-block;
    
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    border-radius: 5px;
    /*width: 10%;*/
}

.topnav a.logo {
    display: inline-block;
}

.topnav-right {
    float: right;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #ddd;
    color: #212b34;
}

.active {
    background-color: #6f828c;
    color: #212b34;
}

.home-theme {
    height: 100%;
    min-height: 550px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
    , url('https://github.com/lynhvu/personal-website/blob/main/img/wallpaper.jpg?raw=true');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    text-align: center;   
}

.top-center {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.top-intro {
    color: whitesmoke;
   
    font-size: xxx-large;
}

.sec-about {
    font-size: xx-large;
    text-align: left;
    color: #212b34;
    padding-top: 15px;
    display: grid;
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
}

.section-head {
    text-align: center;
    font-size: xx-large;
    text-transform: capitalize;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Create two equal columns that floats next to each other */
.column {
    width: 20%;
    float: left;
    margin-left: 20%;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

.bg-light {
    background-color: #ecf1f1;
}

.bg-dark {
    background-color: black;
    color: whitesmoke;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.9;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.ft {
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

@media screen and (max-width: 500px) {
.navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
}
.topnav-right {
    float: right;
}
.column {
    width: 100%;
    }
}
