body {
    color: black;
}

header {
    position: relative;
}
/*
.nav {
    position: relative;
    display: inline-flex; /* good 
    overflow: hidden;
    background-color: transparent;
    font-family: lato, sans-serif;
    align-items: center;
    
}

.nav a {
    
    color: #394a55;
    font-family: lato, sans-serif;
    text-align: center;
    padding: 1rem 2rem 1.15rem;
    text-decoration: none;
    font-size: 17px;
  
    
    position: relative;
    left: 50%;
    
   
}

.nav a:hover {
    background-color: #2f3635;
    color: #788e94;
    
}

.nav a.active {
    background-color: darkgray;
    color: black;
}


ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    margin-left: auto;
    margin-right: auto;
    float: left;
    position: relative;
    display: block;
    
}
*/


/* Position the navbar container inside the image */
.container {
    position: absolute;
    margin: 20px;
    width: auto;
  }
  
  /* The navbar */
  .nav {
    overflow: hidden;
    background-color: #333;
    
  }
  
  /* Navbar links */
  .nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }

/* */
.home-theme {
    min-height: 550px;
    background-image: url('https://github.com/lynhvu/personal-website/blob/main/img/wallpaper.jpg?raw=true');
    background-position: center!important;
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
}

.page-table {
    display: table;
    width: 100%;
    height: 100%;
}

.table-cell {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding-top: 20px;
    z-index: 5;
}

.text-center {
    text-align: center;
}



.top-color {
    color: whitesmoke;
    font-family: lato,sans-serif;
    font-size: xx-large;
}